@model AccentureWatch.Models.Watch

@{
    ViewData["Title"] = "Delete";
}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Watches")">Watches</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>

<h3>Are you sure you want to delete this?</h3>

<div>
    <hr />

    <div class="row">
        <div class="col-6">
            <dl class="row" style="font-size:15px;">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ItemName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ItemName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ItemNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ItemNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    ฿@string.Format($"{Model.Price:n}")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Caliber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Caliber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Movement)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Movement)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Chronograph)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Chronograph)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Diameter)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Diameter)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Thickness)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Thickness)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Jewel)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Jewel)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CaseMaterial)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CaseMaterial)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.StrapMaterial)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StrapMaterial)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FullDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FullDescription)
                </dd>

            </dl>
        </div>
        <div class="col-6 text-center">

            <div class="card" style="width: 18rem;">
                <img src="@Html.Raw(Model.URL)" class="card-img-top" alt="...">
                <div class="card-body">

                    <blockquote style="margin:0px 0px 0px 0px !important">
                        <label style="font-size:small">@Model.ItemNumber</label>
                    </blockquote>
                    <h6 class="card-title" style="margin:0px 0px 0px 0px !important">@Model.ItemName</h6>
                    <blockquote style="margin:0px 0px 0px 0px !important">
                        <label style="font-size:small">฿@string.Format($"{@Model.Price:n}")</label>
                    </blockquote>
                </div>

            </div>
        </div>

    </div>

    <form asp-action="Delete" method="post" asp-route-id="@Model.ID">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
