@model AccentureWatch.Models.Watch

@{
    ViewData["Title"] = "Edit";
}


<form method="post" enctype="multipart/form-data" asp-controller="Watches" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    <div class="card-body" style="background-color:#E8DCBF; text-align:center; margin-top:1px; margin-bottom:5px; padding-bottom:2px !important;">
        <div class="container">

            <div class="row">
                <div class="col">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Watches")">Watches</a></li>
                            <li style="color:#202020" class="breadcrumb-item active" aria-current="page">Edit</li>
                        </ol>
                    </nav>
                </div>

                <div class="col">
                    <p class="float-end">
                        <input type="submit" value="Update Watch" class="btn btn-primary btn-sm" style="background-color:#202020; color:whitesmoke" />
                    </p>
                </div>
            </div>



        </div>
    </div>

    <div class="container">

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congratulations!</strong> @TempData["Success"]<br />
                <label>Click <a href="@Url.Action("Details", "Watches", new { id = @TempData["id"] })">here</a> to view the details</label>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Additional Info</button>
            </li>
        </ul>



        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                <input asp-for="ID" class="form-control" type="hidden" />
                <input asp-for="URL" class="form-control" type="hidden" />


                <div class="row" style=" padding-top:10px; padding-left:5px;">
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="ItemName" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="A name given to an item."></label>
                                    <input asp-for="ItemName" class="form-control form-control-sm" />
                                    <span asp-validation-for="ItemName" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="ItemNumber" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="An alphanumeric code that uniquely identifies an item in your inventory system."></label>
                                    <input asp-for="ItemNumber" class="form-control form-control-sm" />
                                    <span asp-validation-for="ItemNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Price" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="The amount of money that has to be paid to acquire a given product."></label>
                                    <input asp-for="Price" class="form-control form-control-sm" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Caliber" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="The specific internal mechanism of a watch or clock, also known as a movement."></label>
                                    <input asp-for="Caliber" class="form-control form-control-sm" />
                                    <span asp-validation-for="Caliber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Movement" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="A watch movement is the engine of a watch that acts as the powerhouse to make the watch and its functions operate."></label>
                                    <input asp-for="Movement" class="form-control form-control-sm" />
                                    <span asp-validation-for="Movement" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Chronograph" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="A specific type of watch that is used as a stopwatch combined with a display watch."></label>
                                    <input asp-for="Chronograph" class="form-control form-control-sm" />
                                    <span asp-validation-for="Chronograph" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Weight" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="A measure of the heaviness of an object."></label>
                                    <input asp-for="Weight" class="form-control form-control-sm" />
                                    <span asp-validation-for="Weight" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Height" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="The measurement from base to top."></label>
                                    <input asp-for="Height" class="form-control form-control-sm" />
                                    <span asp-validation-for="Height" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Diameter" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="The length of the line through the center that touches two points on the edge of the circle."></label>
                                    <input asp-for="Diameter" class="form-control form-control-sm" />
                                    <span asp-validation-for="Diameter" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Thickness" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="The distance between opposite sides of something."></label>
                                    <input asp-for="Thickness" class="form-control form-control-sm" />
                                    <span asp-validation-for="Thickness" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="Jewel" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="A precious or semiprecious stone."></label>
                                    <input asp-for="Jewel" class="form-control form-control-sm" />
                                    <span asp-validation-for="Jewel" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="CaseMaterial" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="Watches are primarily made out of four sorts of materials namely, ceramic, titanium, stainless steel and steel, metal or alloys."></label>
                                    <input asp-for="CaseMaterial" class="form-control form-control-sm" />
                                    <span asp-validation-for="CaseMaterial" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label asp-for="StrapMaterial" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="A band made traditionally of leather, rubber, steel, or nylon, which affixes the watch to the wrist."></label>
                                    <input asp-for="StrapMaterial" class="form-control form-control-sm" />
                                    <span asp-validation-for="StrapMaterial" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="col" style="padding-bottom:20px;">
                            <div class="card" style="width: 18rem;height:282px">
                                <div class="HoverDiv">
                                    <img src="@Html.Raw(Model.URL)" id="imgPreview" class="card-img-top" style="width:250px;height:240px" alt="...">
                                </div>
                                <div class="card-footer">
                                    <input asp-for="FormFile" type="file" style="display: none;" accept="image/png, image/gif, image/jpeg" class="form-control form-control-sm" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                    <input type="button" class="btn btn-primary btn-sm" style="width:100%" value="Upload Watch" onclick="document.getElementById('FormFile').click();" />

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                <div style="padding-top:10px; padding-left:5px;">

                    <div class="form-group mb-3">
                        <label asp-for="ShortDescription" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="Watch short description"></label>
                        <textarea asp-for="ShortDescription" class="form-control form-control-sm" rows="4" onkeyup="characterCounter(ShortDescription, this.form.remCount, 150);" onkeydown="characterCounter(ShortDescription, this.form.remCount, 150);"></textarea>
                        <small>Remaining characters: <input id="remCountID" type="text" style="background: transparent; border: none; outline:none; padding: 0px 0px 0px 0px; max-width:25px; " name="remCount" maxlength="3" value="150" readonly="readonly" /></small>  <br />
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="FullDescription" class="form-label" cursor: pointer;" data-bs-toggle="tooltip" data-placement="right" data-bs-title="Watch full description"></label>
                        <textarea asp-for="FullDescription" class="form-control form-control-sm" rows="4" onkeyup="characterCounter(FullDescription, this.form.remCountFullDesc, 500);" onkeydown="characterCounter(FullDescription, this.form.remCountFullDesc, 500);"></textarea>
                        <small>Remaining characters: <input id="remCountFullDescID" type="text" style="background: transparent; border: none; outline:none; padding: 0px 0px 0px 0px;  max-width:25px;" name="remCountFullDesc" maxlength="3" value="500" readonly="readonly" /></small>  <br />
                        <span asp-validation-for="FullDescription" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/previewimage.js"></script>

    <script>

        $(document).ready(function () {
            $("#remCountID").val((150 - $("#ShortDescription").val().length));
            $("#remCountFullDescID").val((500 - $("#FullDescription").val().length));
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        function characterCounter(controlId, countControlId, maxCharlimit) {
            if (controlId.value.length > maxCharlimit)
                controlId.value = controlId.value.substring(0, maxCharlimit);
            else
                countControlId.value = maxCharlimit - controlId.value.length;
        }
    </script>
}
